html {
    font-size: 10px;

    @include sm {
        font-size: 6px;
    }
}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
    font-family: 'DM Sans', sans-serif;
}

.container { 
    margin: 0 auto;
    max-width: 80%;

    @include sm {
        max-width: 95%
    }
}

a {
    text-decoration: none;
}