$color_violet: #63117e;
$color_orchid: #E365C1;
$color_plum-web: #E396DF;
$color_pink-lavender: #E2B6CF;
$color_isabelline: #F6EFEE;
$color_tea-green: #CCE8CC;
$color_white: #fff;
$color_black: #000;
$screen-sm-min: 320px;
$screen-md-min: 768px;